[run]
source = streamkeep

[report]
fail_under = 47.5
precision = 1
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
